
.All-Page{
    text-align: center;
    margin-top: 180px;
}

.google-logo-div{
    display: block;

}

.search-bar{
    width: 350px;
    border: 2px solid #73AD21;
    border-radius: 25px;
}

.search-bar-div{
    margin-top: 25px;
}

.botoes-div{
    padding-top: 10px;
}
.botoes {
    border: 2px ;
    padding: 5px 15px;
    background-color: #d0c2c2;
}

.text-aofim{
    padding-top: 30px;
    font-size: 15px;
}